#container{
    margin: 0px 300px 0px;
    border: 2px solid silver;
    border-radius: 6px;
    background-color:gainsboro;
}

#immagine{
   width: 338px;
   height: auto;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: blueviolet;
    border-radius: 5px;
}

#text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;  
    text-align: justify;  
}

#uno{
    border-top: 1px solid silver;
}

#due{
    border-top: 1px solid silver;
}

#tre{
    border-top: 1px solid silver;
}
